table{
	border: 1px solid blue;
	margin: 0;
}

td, th {
	border: 1px solid red;
	padding: 10px 20px 10px 20px;
	margin: 0;
}

thead {
	color: black;
	background-color: gray;
}

tbody {
	color: white;
	background-color: black;
}